<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CK.Core" version="5.0.0-d03" targetFramework="net45" />
  <package id="CK.Text" version="5.0.0-d03" targetFramework="net45" />
  <package id="SimpleGitVersionTask" version="0.15.0-a00-00-explore-0001" targetFramework="net451" developmentDependency="true" />
</packages>